/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.hidden {
     display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

img {
     width: 100%;
     height: 100%;
     object-fit: contain;
}


/******************************************
/* User Interface / UI
/*******************************************/

#interact-screen {
     position: fixed;
     top: 50vh;
     left: 50vw;
     transform: translateX(-50%) translateY(-50%);
     width: 200px;
     height: 200px;
     background: white;
     border: 1px solid black;
     text-align: center;
}

/******************************************
/* Interactables / Objects
/*******************************************/

#interactables {
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
}

.interactable {
     width: 100px;
     height: 100px;
     background: rgb(200,200,200);
     color: black;
}




